.trades, .orders{
    display: inline-block;
    width: 43%;
    color: white;
    vertical-align: top;
}

.trades {
    margin: 1% 1% 1% 5%;
}

.orders {
    margin: 1% 5% 1% 1%;
}

.trade-item, .order-item {
    margin: 1em 0 1em 0;
}

.trades h3, .orders h3 {
    font-size: 1.5em;
    color: #4e92d1;
    padding-bottom: 10px;
    border-bottom: 2px #1a3956 solid;
}

.trades ol, .orders ol {
    list-style-type: none;
    padding-left: 0em;
}

.trade-pair, .trade-units, .order-pair, .order-units{
    font-weight: bold;
}

.trade-units, .order-units {
    font-size: small;
    font-weight: bold;
    margin-left: 1em;
}

.trade-pl, .order-distance {
    float: right;
    font-size: x-large;
}

.trade-fineprint, .order-fineprint, .trade-currentrate, .order-currentrate {
    font-size: small;
    font-weight: light;
}

.trade-currentrate, .order-currentrate {
    color: gray;
}

.tradePLBar {
  background-color: #333;
}

.tradePLBar > div {
   background-color: #32db0c;
   width: 33%;
   height: 2px;
}
