/* Space out content a bit */
body {
    font-family: 'Helvetica';
    background-color: black;
    margin: 0;
}

.header {
    text-align: center;
}

.data {
    color: white;
}

.data > div {
    display: inline-block;
    width: 49%;
}

.data-currency {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.stats {
    background-color: #1a3956;
    color: #4e92d1;
    text-align: center;
    line-height: 2em;
    font-size: 0.8em;
}

.stats > span {
    margin-right: 25px;
}

.stats-profit {
    color: #32db0c;
}

.footer {
    margin-top: 5px;
    border-top: solid 2px #1a3956;
    text-align: center;
    color: #4e92d1;
    line-height: 2em;
    font-size: 0.8em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }

}
